/* Reset some default browser margins and paddings */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a consistent box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Arial, sans-serif; /* Use a more specific font-family */
    color: #333;
    background-color: #fff; /* Set a background color for consistency */
    line-height: 1.6;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

/* Layout styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    height: 80px; /* Set an explicit height */
}

.header-brand, .header-brand h1 {
    font-size: 24px;
    margin: 0; /* Ensure no extra space from default margins */
    line-height: 1.2; /* Adjust line height to fill header appropriately */
}

.header-brand a {
    font-weight: bold;
    font-size: 24px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Form and navigation styles */
nav form {
    display: flex;
    gap: 10px; /* Adds space between elements in the form */
}

nav a, nav form {
    font-size: 16px;
    line-height: 1.2;
}

input[type="text"], select {
    padding: 5px 10px;
    font-size: 16px;
    height: 30px;
}

button {
    padding: 5px 15px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    height: 30px;
}

button:hover {
    background-color: #e0e0e0;
}

/* Content styles */
article {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

article section {
    margin-bottom: 10px;
}

article h2 {
    font-size: 24px;
    margin-bottom: 2px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 7px;
}

.tags {
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    background-color: #faf9f9;
    color: #333;
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags::after {
    content: "";
    display: table;
    clear: both;
}

.quote-carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.quotes-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.quote-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
