<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AI Podcast Summaries</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
  </head>

  <body class="index">
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}"
            >AI Podcast Summaries</a
          >
          <form class="d-flex" action="{{ url_for('index') }}" method="get">
            <input
              type="text"
              name="query"
              class="form-control me-2"
              placeholder="Search episodes..."
            />
            <select name="podcast" id="podcastSelect" class="form-select me-2">
              <option value="">All Shows</option>
              {% for podcast in podcast_names %}
              <option value="{{ podcast }}">{{ podcast }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-outline-primary me-2">
              <i class="bi bi-search"></i>
            </button>
          </form>
        </div>
      </nav>
    </header>
    <main class="container-md mt-5">
      {% for sum in summaries %}
      <article class="card mb-4">
        <div class="card-body">
          <section class="mb-3">
            <h2 class="card-title mb-1">
              <a
                class="text-decoration-none text-primary"
                href="{{ url_for('summary', summary_id=sum.metadata.id) }}"
                >{{ sum.metadata.title }}</a
              >
            </h2>
            <p class="card-text text-muted mb-2">
              {{ sum.metadata.date }} | {% for participant in
              sum.metadata.participants %} {{ participant }}{% if not loop.last
              %} • {% endif %} {% endfor %}
            </p>
            {% for topic in sum.topics %}
            <span class="mb-1 badge bg-primary">{{ topic }}</span>
            {% endfor %}
          </section>
          <section class="card-text"><p>{{ sum.conclusions }}</p></section>
        </div>
      </article>
      {% endfor %}
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
