<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AI Podcast Summaries - {{ data.metadata.title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}"
            >AI Podcast Summaries</a
          >
          <a class="btn btn-outline-primary me-2" href="{{ url_for('index') }}">
            <i class="bi bi-house"></i>
          </a>
        </div>
      </nav>
    </header>
    <main class="container-md mt-5">
      <article class="card mb-4">
        <div class="card-body">
          <section class="mb-3">
            <h2 class="card-title mb-1">{{ data.metadata.title }}</h2>
            <p class="card-text text-muted mb-2">
              {{ data.metadata.date }} | {% for participant in
              data.metadata.participants %} {{ participant }}{% if not loop.last
              %} • {% endif %} {% endfor %}
            </p>
            {% for topic in data.topics %}
            <span class="mb-1 badge bg-primary">{{ topic }}</span>
            {% endfor %}
          </section>
          <section class="mb-4">
            <h5 class="mb-2">Summary</h5>
            <p class="card-text">{{ data.summary }}</p>
          </section>
          <section class="mb-4">
            <h5 class="mb-2">Recommendations</h5>
            <ul class="list-unstyled mb-0">
              {% for recommendation in data.recommendations %}
              <li class="card-text py-1">
                <i class="bi bi-check"></i> {{ recommendation }}
              </li>
              {% endfor %}
            </ul>
          </section>
          <section class="mb-4">
            <h5 class="mb-2">Quotes</h5>
            {% for quote in data.quotes %}
            <blockquote class="bg-light mb-2 p-2 rounded">
              <p class="mb-3">{{ quote.quote }}</p>
              <footer class="mb-1 blockquote-footer">
                {{ quote.speaker }}
              </footer>
            </blockquote>
            {% endfor %}
          </section>
          <section class="mb-3">
            <h5 class="mb-2">Terms</h5>
            {% for term, definition in data.terms.items() %}
            <div class="bg-light mb-2 p-2 rounded">
              <h6>
                <a
                  class="text-decoration-none text-primary"
                  href="https://perplexity.ai/search?q={{ term }}"
                  target="_blank"
                  >{{ term }}</a
                >
              </h6>
              <p class="mb-1">{{ definition }}</p>
            </div>
            {% endfor %}
          </section>
        </div>
      </article>
    </main>
  </body>
</html>
